/*
header{
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
}

nav {
	border: 1px solid green;
	background: #f2f2f2;
	padding: 10px;
}
footer{
	background: #f2f2f2;	
}

article{
	background: orange;	
}
section{
	border: 1px dotted white;
	padding: 10px;
}
aside{
	background: blue;
}
*/

*{
	list-style-type: none;
	padding: 0;
	margin: 0;
}