
/*
ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	padding: 5px 20px;
	
	background: url(../imagens/seta.png) no-repeat left center;

}

*/

ul{
	list-style-type: none;
	margin:0;
	padding: 0;
}

ul a{
	/*border: 1px solid red;*/
	width: 200px;
	height: 40px;
	display: block;
	color: #000;/*Cor preta*/
	text-decoration: none;
	text-indent: 40px; /* empurra para a direita*/
	line-height: 40px; /*Define a altura da linha forçando a centralização*/
	background: url(../imagens/menu.png) no-repeat left bottom;

	}

a:hover{
	background-position: right bottom;  
	color:white;
}